/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
   * This injects Tailwind's component classes and any component classes
   * registered by plugins.
   */
@tailwind components;

/**
   * This injects Tailwind's utility classes and any utility classes registered
   * by plugins.
   */
@tailwind utilities;

/**
   * Use this directive to control where Tailwind injects the hover, focus,
   * responsive, dark mode, and other variants of each class.
   *
   * If omitted, Tailwind will append these classes to the very end of
   * your stylesheet by default.
   */
@tailwind variants;

@layer base {
  h1 {
    @apply pb-2 text-2xl font-extrabold uppercase underline;
  }
  h2 {
    @apply text-secondaryBg py-2 pt-4 text-2xl font-semibold capitalize;
  }
  h3 {
    @apply text-callout py-2 pt-2 text-xl font-bold capitalize;
  }
  h4 {
    @apply text-callout py-2 pt-2 text-lg italic;
  }
  li {
    @apply marker:text-secondaryBg list-inside marker:content-['▹_'];
  }
  pre {
    inline-size: 100%;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    @apply bg-primary my-2 p-4 font-mono text-black;
    /* align pre in middle of container */
  }
}
